body{
    font-family: 'Libre Baskerville', serif;
    background-repeat:repeat; 
  }
  .todo{
    color: rgb(255, 154, 154);
    font-size: 100px;
    margin-top: 40px;
    font-family: 'Libre Baskerville', serif;
  }
  .button {     
    border: none;
    cursor:pointer;
    overflow: hidden;   
  }
  ::placeholder {
    color: #FCCBBB;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
  }
  input
  {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 758.8px;
    padding: 0px;
    display: flex;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    margin-bottom: 10px;
    width: 758.8px;
    padding: 0px;
  }
  input:focus {
        outline: none;
        /* border: 1px solid #FCF1E4; */
  }
  .index{
    font-size: 20px;
    font-family: 'Libre Baskerville', cursive;
    border-color:#A07383;
    border: 2px;
  }
  li{
    width: 758.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  ul{
    width: 758.8px;
    padding: 0px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .btn.DelItem{
    color: rgb(240, 188, 188);
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    float: right;
    visibility: hidden;
  }
  
    .btn.DelItem{
        visibility: visible;
    }
    .btn.DelItem:hover{
        color: rgb(252, 149, 14);
    }
  .btn.DelAll{
    margin-top: 30px; ;
  }
  .btn.Empty{
    margin-top: 30px; ;
  }
  .bottom {
    border-color: #A07383;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    box-shadow:8px 8px 10px gray;
  }
  .bottom-leaf {
    border-color: #A07383;
    height: 5px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0;
    box-shadow:8px 8px 10px gray;
  }
  .bottom-last {
    border-color: #A07383;
    height: 5px;
    margin-left: 11px;
    margin-right: 11px;
    padding: 0;
    box-shadow:8px 8px 10px gray;
  }
  .down {
    color: #7374a0;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', cursive;
  }
  .todotodo {
    border-color: transparent;
  }